.lightBody {
    text-align: center;
}

.messageGroup {
    margin: 10em;
}

.message {
    font-size: 2em;
    color: #888;
}

.message strong {
    font-size: 5rem;
    color: #000;
}

.darkBody {
    text-align: center;
    background-color: #000;
}

.darkBody .message strong {
    font-size: 5rem;
    color: #fff;
}