.header {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.header .logo {
    margin: 1rem;
    width: 2.5rem;
}

.header .name {
    font-size: 1.5rem;
}

.header .buttons {
    margin: 0 0 0 auto;

}

.header .buttons .button {
    margin: .5rem;
    width: 7.5rem;
    height: 2.5rem;
    font-size: 1rem;
}

.button:hover {
    background: linear-gradient(#0080FF, #6000BE);
    color: #FFF;
    border: none;
}